body.single-quiz{
	color: #000;
}
body .quiz, .quiz-results, .result {
	color: #000000;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.quiz{
	display: none;
}
.quiz, .quiz-results, .result {
	margin-left: auto;

	margin-right: auto;
	width: 600px;
}	
.quiz.active {
	display: block;
    padding: 0 15px;

}
.d-none,
.inactive {
	display: none;
}
.quiz-questions, .quiz-indicator, {
	margin-bottom: 20px;
	font-size: 20px;
}
.quiz-questions-item__question, .quiz-results-item__question{
	margin-bottom: 20px;
	font-size: 20px;

}
.quiz-questions-item__answers, .quiz-results-item__answers{
	margin: 0;
	margin-bottom: 10px;
	list-style: none;
	padding: 0 20px;

}
.quiz-questions-item__answers li{

    text-align: left;

}
.quiz-results-item__answers li{

    text-align: left;

}



.quiz-indicator{

}
.btn-reset{
	background-color: #4dff03;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    padding: 5px 25px;
}

.btn-next, .btn-prev{
	
    background-color: #4dff03;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    cursor: pointer;
    padding: 5px 25px;
}
.disabled{
	pointer-events: none;
	background-color: #36ffdd70;
}
.correct{
	background-color: #4dff03;
}
.incorrect{
	background-color: #fc0303;
}

.quiz-contorls{
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 0 15px;
}
.result{
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 0 15px;
    flex-direction: column;
    margin-bottom: 30px;
}
#quizes{

    max-width: 600px;
    margin: 50px auto;
    padding: 10px;
    box-shadow: 0 7px 8px #0000002b, -3px 1px 7px 8px #00000029, 2px -1px 6px 6px #04040424;

}