body .quiz {
	margin: 0;
	color: #000000;
	text-align: center;
}
.quiz {
	margin: 0 auto;
	width: 600px;
}	
.active {
	display: block;
}
.inactive {
	display: none;
}

}
.quiz-questions, .quiz-indicator, {
	margin-bottom: 20px;
	font-size: 20px;
}
.quiz-questions-item__question, .quiz-results-item__question{margin-bottom: 20px;
		font-size: 20px;}
	.quiz-questions-item__answers, .quiz-results-item__answers{
		margin: 0;
		padding: 0;
		list-style: none;
	}

}
.quiz-indicator{

}
.btn-restart{
	display: none;
	background-color: #4dff03;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
}
.btn-prev{
	display: none;
	background-color: #4dff03;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
}
.btn-next{
	
	background-color: #4dff03;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
}